<section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" >

        <a class="navbar-brand" href="">Mini bank</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
      </nav>



      <!-- Title -->

      <div class="row"> 
        
        <div class="col-lg-6">
          <h1 class="big-heading">Poznaj bankowość XXI wieku...</h1>
          <a href="pobranie.html" target="_blank">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-apple"></i> Pobierz</button></a>
          <a href="pobranie.html" target="_blank">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-windows"></i> Pobierz</button></a>
        </div>

        <div class="col-lg-6">
          <form action="mailto:alexshailiha@gmail.com" method="post" enctype="text/plain">
            <label>Waluta:</label>
            <input type="text" name="yourName" value=""> <br>
            <label>Złotówki:</label>
            <input type="email" name="yourEmail" value=""><br>
            <label>Funty:</label>
            <input type="email" name="yourEmail" value=""><br>
            <label>Dodatkowe informację:</label> <br>
            <textarea name="yourMessage" rows="10" cols="30"></textarea> <br>
            <input type="submit" name="" value="Prześlij"> 
          </form>


        </div>

      </div>

    </div>

  </section>
