<section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" >

        <a class="navbar-brand" href="">Mini bank</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
      </nav>



      <!-- Konto użytkownika i wymiana waluty -->

      <div class="row"> 
        
        <div class="col-lg-6">
          <h1 class="big-heading">Poznaj bankowość XXI wieku...</h1>
          <label>Nazwisko:</label>
          <input type="text" name="imię" value=""> <br>
          <label>Imię:</label>
          <input type="text" name="nazwisko" value=""> <br>
          <label>Adres email:</label>
          <input type="email" name="E-mail" value=""> <br>
          <label>Numer telefonu:</label>
          <input type="text" name="telefon" value=""><br>
          <label>Pesel:</label>
          <input type="text" name="pesel" value=""> <br>
          <label>Bieżące środki na końcie - PLN:</label>
          <input type="text" name="pesel" value=""> <br>
          <label>Bieżące środki na końcie - EUR:</label>
          <input type="text" name="pesel" value=""> <br>
          <label>Bieżące środki na końcie - USD:</label>
          <input type="text" name="pesel" value=""> <br>
          <a href="pobranie.html" target="_blank">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-apple"></i> Pobierz</button></a>
          <a href="pobranie.html" target="_blank">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-windows"></i> Pobierz</button></a>
        </div>

        <div class="col-lg-6">
          <form action="mailto:alexshailiha@gmail.com" method="post" enctype="text/plain">
            <label>Waluta:</label>
            <input type="text" name="Waluta" value=""> <br>
            <label>Wymieniam:</label>
            <input type="text" name="Kwota wymieniana" value=""><br>
            <label>Dostaję:</label>
            <input type="text" name="Kwota z wymiany" value=""><br>
            <input type="submit" name="" value="Zgoda na transakcję"> 
          </form>


        </div>


      

      </div>

    </div>

  </section>
