<section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" >

        <a class="navbar-brand" href="">Mini bank</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
      </nav>



      <!-- Login Page -->

      <div class="row"> 
        
        <div class="col-lg-6">
          <h1 class="big-heading">Poznaj bankowość XXI wieku...</h1>
            <label>Adres email:</label>
            <input type="email" name="email" value=""> <br>
            <label>Hasło:</label>
            <input type="text" name="hasło" value=""><br>
            <a routerLink="/waluty">
            <input type="submit" name="" value="Zaloguj się"> </a>

        </div>

        

        <div class="col-lg-6">
          
         


        </div>

      </div>

    </div>

  </section>
