<section id="title">
  
    <!-- Nav Bar -->




    <!-- Title -->

    <div>
      <h1>Poznaj bankowość XXI wieku.</h1>
      <button type="button" class="btn btn-danger">Action 2</button>
      <button type="button">Pobierz</button>
      <button type="button">Pobierz</button>
    </div>
    <div>
      <img src="images/Minibankfront.png" alt="bank-mockup">
    </div>

  </section>


  <!-- Features -->

  <section id="features">

    <h3>Użytkowanie.</h3>
    <p>Tak łatwe, że nawet nie zorientujesz się, że to już koniec.</p>

    <h3>Pewność działalności</h3>
    <p>Zaloguj się kiedy chcesz i skąd chcesz.</p>

    <h3>Bezpieczeństwo.</h3>
    <p>Twoje pieniądze w bezpiecznym miejscu.</p>

  </section>


  <!-- Testimonials -->

  <section id="testimonials">

    <h2>Już nie muszę się martwić, że nie będę się mogła się zalogować do banku.</h2>
    <img src="images/kobieta.jpg" alt="kobieta-profile">
    <em>Anna, Warszawa</em>

    <!-- <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
    <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
    <em>Beverly, Illinois</em> -->

  </section>


  <!-- Press -->

  <section id="press">
    <img src="images/mashable.png" alt="mashable-logo">
    <img src="images/techcrunch.png" alt="tc-logo">
    <img src="images/bizinsider.png" alt="biz-insider-logo">
    <img src="images/tnw.png" alt="tnw-logo">

  </section>


  <!-- Pricing -->

  <section id="pricing">

    <h2>Plan dla każdego z klientów</h2>
    <p>Korzystne oferty na każdą kieszeń.</p>


    <h3>Konto osobiste</h3>
    <h2>Darmowe</h2>
    <p>5 Matches Per Day</p>
    <p>10 Messages Per Day</p>
    <p>Wszystkie dostępne funkcje aplikacji</p>
    <button type="button">Zapisz się</button>


    <h3>Konto firmowe</h3>
    <h2>45zł / miesiąc</h2>
    <p>Pomoc w prowadzeniu dokumentacji firmy</p>
    <p>Darmowe konsultacje prawne</p>
    <p>Wszystkie dostępne funkcje aplikacji</p>
    <button type="button">Zapisz się</button>


    <h3>Konto oszczędnościowe</h3>
    <h2>20zł / miesiąc</h2>
    <p>8% w skali roku</p>
    <p>Konsultacje giełdowe</p>
    <p>Wpłacanie i wyplacanie pieniędzy bez utraty odsetek</p>
    <p>Wszystkie dostępne funkcje aplikacji</p>
    <button type="button">Zapisz się</button>

  </section>


  <!-- Call to Action -->

  <section id="cta">

    <h3>Znajdź wszystko to co potrzebujesz od banku w jednym miejscu. Znajdź Mini bank.</h3>
    <button type="button">Pobierz</button>
    <button type="button">Pobierz</button>

  </section>


  <!-- Footer -->

  <footer id="footer">

    <p>© Copyright Mini bank</p>

  </footer>
