<section class="colored-section" id="title">

    <div class="container-fluid">
    
      <!-- Nav Bar -->
    
      <nav class="navbar navbar-expand-lg navbar-dark" >
    
        <a class="navbar-brand" href="">Mini bank</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    
    
    
      <!-- Tworzenie konta -->
    
      <div class="row"> 
        
        <div class="col-lg-6">
          <h1 class="big-heading">Poznaj bankowość XXI wieku... </h1>
          <a routerLink="/pobranie">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-apple"></i> Pobierz</button></a>
          <a routerLink="/pobranie">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-windows"></i> Pobierz</button></a>
        </div>
    
        <div class="col-lg-6">
          <form action="mailto:alexshailiha@gmail.com" method="post" enctype="text/plain">
            <label>Nazwisko:</label>
            <input type="text" name="imię" value=""> <br>
            <label>Imię:</label>
            <input type="text" name="nazwisko" value=""> <br>
            <label>Pesel:</label>
            <input type="text" name="Pesel" value=""> <br>
            <label>Numer telefonu:</label>
            <input type="text" name="telefon" value=""><br>
            <label>Adres email:</label>
            <input type="email" name="email" value=""> <br>
            <label>Hasło:</label>
            <input type="text" name="hasło" value=""><br>
            <label>Powtórz Hasło:</label>
            <input type="text" name="hasło" value=""> <br>
            
            <input type="submit" name="" value="Załóż konto"> <a routerLink="/login"> Login</a> 
          </form>
    
    
        </div>
    
      </div>
    
    </div>
    
    </section>
    
    
