<section class="colored-section" id="title">

    <div class="container-fluid">
    
      <!-- Nav Bar -->
    
      <nav class="navbar navbar-expand-lg navbar-dark" >
    
        <a class="navbar-brand" href="">Mini bank</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    
    
    
      <!-- Tworzenie konta -->
    
      <div class="row"> 
        
        <div class="col-lg-6">
          <h1 class="big-heading">Poznaj bankowość XXI wieku... </h1>
          <a routerLink="/pobranie">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-apple"></i> Pobierz</button></a>
          <a routerLink="/pobranie">
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-windows"></i> Pobierz</button></a>
        </div>
    
        <div class="col-lg-6">
          <div class="container">
            <legend>Login</legend>
            <div class="row">
              <div class="col col-md-8" >
                <form [formGroup]="jobForm" (ngSubmit)="save()">
                  <div class="mb-3">
                    <label for="firstName" class="form-label">Pierwsze Imię</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      formControlName="firstName"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="surname" class="form-label">Nazwisko</label>
                    <input
                      type="text"
                      class="form-control"
                      id="surname"
                      formControlName="surname"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="pesel" class="form-label">Pesel</label>
                    <input
                      type="text"
                      class="form-control"
                      id="pesel"
                      formControlName="pesel"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Telefon</label>
                    <input
                      type="text"
                      class="form-control"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      formControlName="email"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="col col-md-4">
                <div style="position: fixed">{{ preview }}</div>
              </div>
            </div>
          </div>
    
    
        </div>
    
      </div>
    
    </div>
    
    </section>
    
    
